body{
    font-family: "special character";
    background-color: rgb(116, 189, 168);
}

.heading{
     background-color:aliceblue;
    color:red;
}

.heading p{
    font-family:'Roboto', sans-serif;
    color:gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
  button{
font-family:'roboto', sans-serif;
margin-top: 30px;
width: 130px;
font-weight: bolder;
letter-spacing: 3px;
}

.footer{
    position: fixed;
    color:gray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
    text-align: center;
    line-height: 3;
    text-shadow: 5px 5px 5px grey
}